<%- include('_header'); -%>
  <h2>Password reset</h2>
  <% if (!locals.token) { %>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email">
    </div>
    <button id="reset-password-request-button" type="submit" class="btn btn-primary">Reset password</button>
  <% } %>
  <% if (locals.token) { %>
    <div class="mb-3">
      <label for="newPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="newPassword">
    </div>
    <div class="mb-3">
      <label for="newPasswordConfirm" class="form-label">Confirm password</label>
      <input type="password" class="form-control" id="newPasswordConfirm">
    </div>
    <button id="reset-password-button" type="submit" class="btn btn-primary">Reset password</button>
  <% } %>
  <script>
    var token = <%- locals.token ? `'${locals.token}'` : 'null' %>;

    $(function() {
      $('#reset-password-request-button').on('click', function() {
        var email = $('#email').val();

        $.ajax({
          type: 'POST',
          url: '/api/v1/auth/request-password-reset',
          data: {
            email: email,
          },
        })
          .done(function (data) {
            alert(data.message);
          })
          .fail(function (data) {
            alert(data.responseJSON.error ?? 'Something went wrong');
          })
        ;
      });

      $('#reset-password-button').on('click', function() {
        var newPassword = $('#newPassword').val();
        var newPasswordConfirm = $('#newPasswordConfirm').val();

        if (!newPassword) {
          alert('Password is required');
          return;
        }

        if (newPassword !== newPasswordConfirm) {
          alert('Passwords do not match');
          return;
        }

        $.ajax({
          type: 'POST',
          url: '/api/v1/auth/password-reset',
          data: {
            token: token,
            newPassword: newPassword,
            newPasswordConfirm: newPasswordConfirm,
          },
        })
          .done(function (data) {
            alert(data.message);
          })
          .fail(function (data) {
            alert(data.responseJSON.error ?? 'Something went wrong');
          })
        ;
      });
    });
  </script>
<%- include('_footer'); -%>
