<%- include('_header'); -%>
  <h2>Confirm email</h2>
  <% if (locals.error) { %>
    <p class="display-4 text-center"><%= locals.error %></p>
  <% } %>
  <% if (locals.message) { %>
    <p class="display-4 text-center"><%= locals.message %></p>
  <% } %>
<%- include('_footer'); -%>
