<p>Hi <%= locals.user.firstName %>,</p>
<p>Welcome to YAWA! Thank you for creating an account.</p>
<p>Please confirm your email address with the link below:</p>
<p><a href="<%= locals.emailConfirmationUrl %>"><%= locals.emailConfirmationUrl %></a></p>
<p>
  In case the confirmation URL does not work for you, please use the following code inside the application to confirm
  your email: <b><%= locals.user.emailConfirmationCode %></b>
</p>
