<p>Hi <%= locals.user.firstName %>,</p>
<p>Since you have requested an email change, you will need to confirm your new email with the link below:</p>
<p><a href="<%= locals.emailConfirmationUrl %>"><%= locals.emailConfirmationUrl %></a></p>
