<p>Hi <%= locals.user.firstName %>,</p>
<p>You have requested a password reset.</p>
<p>Please please click the link below to update your password:</p>
<p><a href="<%= locals.passwordResetUrl %>"><%= locals.passwordResetUrl %></a></p>
